.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  color: black;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  text-align: center;
}

.expense input,
.expense select {
  font: inherit;
  background-color: #f1e1fc;
  color: #38015c;
  border-radius: 10px;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 30%;
  display: flex;
  text-align: left;
  padding: 1%;
}

.expense1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  text-align: center;
}

.expense1button1 {
  cursor: pointer;
  font: inherit;
  color: rgb(255, 255, 255);
  background-color: #4421dd;
  border: 1px solid #5c5ecc;
  border-radius: 50px;
  padding: 0.2rem 1.1rem;
}

.expense1button2 {
  cursor: pointer;
  font: inherit;
  color: rgb(255, 255, 255);
  background-color: #ff0000;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin: -4%;
  padding: 0.2rem 1.1rem;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
