.header {
  display: flex;
  height: 50px;
  background-color: white;
}

.header1 {
  display: flex;
  height: 50px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.span1 {
  width: 35%;
  display: flex;
}

.span1 h1 {
  width: 30%;
  color: blue;
  display: flex;
  text-align: center;
  align-items: center;
}

.span2 {
  width: 45%;
  display: flex;
  text-align: center;
  align-items: center;
}

.spana2 {
  width: 45%;
  display: flex;
  text-align: center;
  align-items: center;
}

.span2 h4 {
  width: 70%;
  color: black;
  display: flex;
}

.spana2 h4 {
  width: 70%;
  color: rgb(255, 255, 255);
  display: flex;
}

.img {
  background-size: cover;
  width: 100%;
}

.actions {
  display: flex;
  margin: auto;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: rgb(255, 255, 255);
  background-color: #4c00ff;
  border: 1px solid #5c5ecc;
  border-radius: 50px;
  padding: 0.3rem 0.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.link {
  color: white;
}

.link1 {
  color: rgb(0, 0, 0);
}
