.home {
  display: inherit;
  height: 490px;
  background-color: rgb(255, 255, 255);
  margin: 50px;
}

.span1 {
  display: contents;
  height: 10%;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  display: block;
  color: rgb(0, 0, 0);
  font-style: italic;
  border: 1px solid black;
}

.span1 h1 {
}

.span2 {
  display: contents;
  height: 90%;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  display: block;
}
