.home {
  display: inherit;
  height: 490px;
  background-color: rgb(255, 255, 255);
  margin: 50px;
}

.span1 {
  display: contents;
  height: 10%;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  color: rgb(0, 0, 0);
  font-style: italic;
  border: 1px solid black;
}

.span2 {
  display: contents;
  height: 90%;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  display: block;
}

.name {
  display: flex;
  align-items: flex-start;
  width: inherit;
}
.update {
  display: flex;
  align-items: flex-start;
  align-items: center;
  background-color: lightgrey;
  border-radius: 35px;
  padding: 2%;
  height: inherit;
  align-self: center;
  padding: 1%;
}

.button {
  border-radius: 13px;
  display: flex;
  width: max-content;
  border: none;
}

.email {
  border-radius: 13px;
  display: flex;
  width: max-content;
  border: none;
}

.verify {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
  color: red;
  border: 1px solid red;
  width: 115px;
  padding: 4%;
  height: inherit;
  align-self: center;
  justify-content: center;
}

.verify:hover {
  background-color: #d4d4d4;
  border-color: #ffffff;
}
