.home {
  display: inherit;
  height: 490px;
  background-color: rgb(255, 255, 255);
  margin: 50px;
}

.span1 {
  display: contents;
  height: 10%;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  color: rgb(0, 0, 0);
  font-style: italic;
  border: 1px solid black;
}

.span2 {
  display: contents;
  height: 90%;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  display: block;
}

.name {
  display: flex;
  align-items: flex-start;
  width: inherit;
}
.update {
  display: flex;
  align-items: flex-start;
  align-items: center;
  background-color: lightgrey;
  border-radius: 35px;
  padding: 2%;
  height: inherit;
  align-self: center;
  padding: 1%;
}

.button {
  border-radius: 13px;
  display: flex;
  width: max-content;
  border: none;
}

.form {
  width: auto;
  border: none;
  margin-block-start: 15px;
  padding: 1%;
  margin-left: 150px;
  border-bottom: 1px solid black;
}

.control {
  margin-bottom: 0.5rem;
  display: flex;
  padding: inherit;
  align-items: center;
  justify-content: space-between;
}

.control label {
  display: content;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #ffffff;
  height: 30px;
  width: 36%;
  color: #38015c;
  border: 2px solid rgb(0, 0, 0);
  text-align: left;
  padding: 0.45rem;
}

.buttonl1 {
  border: 1px solid red;
  color: red;
  background-color: white;
  border-radius: 5px;
}

.buttonl2 {
  border: 1px solid rgb(206, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(206, 0, 0);
  border-radius: 5px;
}
